# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.local.*
jscpd-report

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ai
CLAUDE.md
.ai/*
cursor
.gemini
.mcp.json
CLAUDE.local.md
.serena/
.claude/settings.local.json

_bmad
_bmad-output
.claude
.codex
.github/chatmodes
.agent
.agentvibes/
.kiro/
.roo
bmad-custom-src/
ralph.sh